<div class="home-main">
    <div class="container-xl">
        <div class="row">

            <div id="wrap" class="img-wrap col-xs-12 col-lg-4">
                <img src="/assets/pdp-no-background.png" alt="My Photo">
            </div>


            <div class="home-text col-xs-12 col-lg-8">

                <h3>Hello, <span>I'm</span></h3>
                <h1>BERKATI Imad</h1>
                <h3>Tech Lead and Senior Java Developer</h3>
                <p>
                    With advanced expertise in designing, developing, and maintaining high-performance enterprise
                    applications, I am passionate about delivering robust and scalable solutions through efficient
                    troubleshooting and debugging. My hands-on experience spans a wide range of cutting-edge
                    technologies, including Java, Spring Boot, Spring Batch, Spring Cloud, Angular, AWS (Certified
                    Developer Associate), and Microservices, applied extensively in both professional and personal
                    projects.<br><br>

                    I am proficient in leveraging modern DevOps practices for CI/CD pipelines, employing tools like
                    Jenkins, GitLab, SonarQube, and Docker, as well as managing deployments on Kubernetes. My
                    development expertise is grounded in adopting hexagonal architecture principles to ensure
                    maintainability and scalability across projects.
                </p>
            </div>
        </div>
        <div class="row social-media">
            <ul>
                <li>
                  <a href="#"><i class="fab fa-github icon"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
                <li>
                  <a href="#"><i class="fab fa-youtube icon"></i></a></li>
              </ul>
        </div>
    </div>
</div>

<div class="wave">
    <div class="ondebox">
        <svg class="onde" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="onda" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352Z" />
            </defs>
            <g class="parallaxonde">
                <use xlink:href="#onda" x="48" y="0" fill="rgba(42,44,57,0.6)" />
                <use xlink:href="#onda" x="48" y="3" fill="rgba(42,44,57,0.4)" />
                <use xlink:href="#onda" x="48" y="5" fill="rgba(42,44,57,0.1)" />
                <use xlink:href="#onda" x="48" y="7" fill="#2a2c39" />
            </g>
        </svg>
    </div>
</div>