 @media (min-width : 900px) {
    #menu-icon {
        display: none;
    }
    .mat-sidenav {
        display: none;
    }
 }

 @media (max-width : 900px) {
    .top-menu-item {
        display: none;
    }
 }

 .scrolled {
    background-color : #444757 !important;
 }

 header {
    background-color: #2a2c39;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    padding : 10px 0;
    transition: background-color 0.3s ease;

    .mat-toolbar {
        height: 60px;
        background-color: #2a2c39;
        transition: background-color 0.3s ease;

        .top-menu-item {
            padding: 20px;
        }

        .mdc-button {
            color: white;
        }
        .mdc-button:hover {
            background-color: #ef6603;
        }

     }

 }

 .mat-sidenav-container {
    .mat-sidenav {
        border-radius: 0;
        width: 160px;

        background-color: #2a2c39;

        .mdc-button {
            color: white;
        }
        .mdc-button:hover {
            background-color: #ef6603;
        }

        .side-nav-items {
            display: flexbox;
            flex-direction: column;

            .side-menu-item {
                margin-top: 20px;
            }
         }
     }

    .mat-sidenav-content {
        padding-top: 60px;
    }

 }





