<header [class.scrolled]="isScrolled">
    <div class="container-xl">
        <mat-toolbar [class.scrolled]="isScrolled">
            <button mat-icon-button id="menu-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon class="white-icon">menu</mat-icon>
            </button>
            <a href="#about" mat-button class="top-menu-item">About</a>
            <a href="#projects" mat-button class="top-menu-item">Projects</a>
            <a href="#skills" mat-button class="top-menu-item">Skills</a>
            <a href="#testimonials" mat-button class="top-menu-item">Testimonials</a>
        </mat-toolbar>
    </div>
</header>



<mat-sidenav-container>
    <mat-sidenav [class.scrolled]="isScrolled" #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="over">
        <div class="side-nav-items">
            <div>
                <a href="#about" (click)="sidenav.close()" mat-button class="side-menu-item">About</a>
            </div>
            <div>
                <a href="#projects" (click)="sidenav.close()" mat-button class="side-menu-item">Projects</a>
            </div>
            <div>
                <a href="#skills" (click)="sidenav.close()" mat-button class="side-menu-item">Skills</a>
            </div>
            <div>
                <a href="#testimonials" (click)="sidenav.close()" mat-button class="side-menu-item">Testimonials</a>
            </div>
        </div>
    </mat-sidenav>


    <mat-sidenav-content>
        <div class="main-content">
            <app-about id="about"></app-about>
            <app-projects id="projects"></app-projects>
            <app-skills id="skills"></app-skills>
            <app-testimonials id="testimonials"></app-testimonials>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
