<div class="projects-main">
    <div class="container-xl">
        <div class="row">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Projects</h2>
                <p>My experience</p>
            </div>
        </div>
        <div class="grid">
            <div class="row gx-5">
                <div *ngFor="let projectSummary of projectSummaries" class="col-12 col-sm-6 col-lg-4">
                    <div class="card">
                        <img class="card__img"
                            src="{{ projectSummary.logoUrl }}">
                        <div class="card__content">
                            <p class="card__header">{{ projectSummary.title }}</p>
                            <p class="card__period">{{ projectSummary.startDate | date: 'MM/yyyy' }} -
                                {{ projectSummary.endDate ? (projectSummary.endDate | date: 'MM/yyyy') : 'present' }}
                            </p>
                            <div class="card__badges">
                                <span *ngFor="let skillItem of projectSummary.topSkills"
                                    class="badge rounded-pill text-bg-primary">
                                    {{ skillItem?.skill?.name }}
                                </span>
                                <span class="badge rounded-pill text-bg-primary">...</span>
                            </div>

                            <div class="card__text-wrapper">
                                <p class="card__text">
                                    {{ projectSummary.summary }}
                                </p>
                                <p class="card__seemore">...see more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>